@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto" sans-serif;
}

nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: auto;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 18px;
}

.logo {
    color: #f9faf8;
    size: 24px;
    font-weight: 900;
}

.nav-item {
    margin-left: 2rem;
    gap: 16px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0rem auto -2rem;
    background-color: #1f2937;
    padding: 56px;
    gap: 1.9rem;
    width: auto;
    position: relative;
    


}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 0rem;
    font-weight: 600;
    color: #f9faf8;

}

.hero p {
    line-height: 1.7rem;
    font-size: 18px;
    color: #e5e7eb;
}

.buttn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.6rem;
    border: none;
    font-size: 1.4rem;
    border-radius: 5px;
    color: #e5e7eb;
    background: rgb(55, 106, 214);
}

.buttn:hover {
    background-color: rgb(206, 122, 20);
}

img {
    max-width: 100%; 
}
  
.cases {
    padding: 1rem 0; 
}
  
.done {
    margin: 4rem auto;
    max-width: 900px;
}

.people h3 {
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
    text-align: center;
    margin-bottom: 0;

}

.done img {
    border-radius: 0.6rem;
    border-color: rgb(55, 106, 214);
    border-style: solid;
    width: 90%;
    height: auto;
    vertical-align: middle;
    margin-bottom: 8px;
}


.cs {
    display: flex;
    flex: auto;
    height: 100px;
    column-gap: 0px;
    justify-content: center;
    background: white;
    margin: 0 auto;
    padding: 5%;
    width: auto;
   
}
.cs-1, .cs-2, .cs-3, .cs-4 {
    text-align: center;
}

  
  